.build
.made

/bash
/bashbug
/bashversion

*.o
*.a

config.guess
config.h
config.log
config.status
config.sub
configure

Makefile

stamp-*

/builtins/builtext.h
/builtins/builtins.c
/builtins/libbuiltins.a
/builtins/mkbuiltins
/builtins/pipesize.h
/builtins/psize.aux
/doc/bash.info
/lib/glob/libglob.a
/lib/sh/libsh.a
/lib/tilde/libtilde.a
/lsignames.h
/mksignames
/mksyntax
/pathnames.h
/po/POTFILES
/printenv
/recho
/signames.h
/sir
/syntax.c
/tests/printenv
/tests/recho
/tests/xcase
/tests/zecho
/version.h
/xcase
/y.tab.c
/y.tab.h
/zecho
